@model CRA.Models.Domain.Entry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MondayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MondayHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuesdayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuesdayHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WednesdayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WednesdayHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThursdayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThursdayHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FridayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FridayHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaturdayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaturdayHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SundayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SundayHours)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
