@model CRA.Models.Entry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mission.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSemaine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroSemaine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeuresLundi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeuresLundi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeuresMardi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeuresMardi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeuresMercredi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeuresMercredi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeuresJeudi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeuresJeudi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeuresVendredi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeuresVendredi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeuresSamedi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeuresSamedi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeuresDimanche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeuresDimanche)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
