@model IEnumerable<CRA.Models.Domain.Entry>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Employee
            </th>
            <th>
                Mission
            </th>
            <th>
                Week
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MondayHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TuesdayHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WednesdayHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThursdayHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FridayHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaturdayHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SundayHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mission.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekNb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MondayHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TuesdayHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WednesdayHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThursdayHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FridayHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaturdayHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SundayHours)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
