@model CRA.Models.Entry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mission.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Week)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Week)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SundayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SundayHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MondayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MondayHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuesdayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuesdayHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WednesdayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WednesdayHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThursdayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThursdayHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FridayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FridayHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaturdayHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaturdayHours)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="ValidateEntry" asp-route-id="@Model.Id" method="post" class="d-inline">
        <input type="hidden" name="newState" value="Valide" />
        <button type="submit" class="btn btn-success">Validate</button>
    </form>

    <form asp-action="ValidateEntry" asp-route-id="@Model.Id" method="post" class="d-inline">
        <input type="hidden" name="newState" value="Refuse" />
        <button type="submit" class="btn btn-danger">Refuse</button>
    </form>
    |
    <a asp-action="Index">Back to List</a>
</div>
