@model IEnumerable<CRA.Models.Mission>

@{
    ViewData["Title"] = "Mission Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Mission</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SemaineDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SemaineFin)
            </th>
            <th>
                Employees
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemaineDebut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemaineFin)
                </td>
                <td>
                    @foreach (var employee in item.Employees)
                    {
                        @employee.Nom

                        <br />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
